
@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
        <div class="form-group">
            @if (Model.Image != null)
            {
                <img src="~/img/@Model.Image" style="width:100px;height:100px" />
            }
            <br />
            @* For Naming Label *@
            <label asp-for="Photo"></label>
            <input class="form-control" asp-for="Photo" style="width:350px;">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>